<div class="weather-card">
  <div class="location">
    <h2 class="city"></h2>
    <p class="region"></p>
    <p class="country"></p>
    <p class="time"></p>
  </div>
  <div class="current-weather">
    <div class="temperature">
      <h3 class="temp"></h3>
      <p class="feels-like"></p>
    </div>
    <div class="other-info">
      <p class="description"></p>
      <img class="image" src="" alt="">
      <p class="precipitation"></p>
      <p class="humidity"></p>
      <p class="wind"></p>
    </div>
  </div>
</div>